<div class="container" *ngIf="filtersLoaded | async; else loading" >
    <br>
    <h2 style="text-align: center;"><i class="material-icons vertical-align-middle padding-bottom-3">menu_book</i> Giornale dei lavori </h2>
    <hr>
    
<div *ngFor="let giorn of giornaliData">
    <br>
    
    <div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header text-center">
                <h5><strong>Giornale dei lavori #{{giorn.num_giorn}}</strong></h5>
              </div>
          <div class="card-body">
    <table class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descr. Lavoro</th>
            <th scope="col">Personale (ore)</th>
            <th scope="col">Attrezzatura</th>
            <th scope="col">Sovrascritto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rigo of giorn.righi">
            
            <ng-container *ngIf="rigo.sovrascritto!=0">
                <th scope="row" class="table-danger">{{rigo.num_rigo}}</th>
                <td class="table-danger">
                    {{rigo.descrizione}}
                </td>
                <td class="table-danger"> 
                    <ul >
                        <li *ngFor="let pers of rigo.personale">
                        {{pers.quantita}} {{pers.qualita}} ({{pers.ore}})
                        </li>
                    </ul>
                </td>
                <td class="table-danger">
                    <ul>
                        <li *ngFor="let att of rigo.attrezzatura">
                                {{att.quantitaAtt}} {{att.nomeAtt}}  
                        </li>
                    </ul>
                </td>
                <td class="table-danger">
                  Sovrascritto dal rigo {{rigo.sovrascritto}}
                </td>
            </ng-container>
    
    
            <ng-container *ngIf="rigo.sovrascritto==0">
                <th scope="row">{{rigo.num_rigo}}</th>
                <td>
                    {{rigo.descrizione}}
                </td>
                <td>
                  <ul >
                    <li *ngFor="let pers of rigo.personale">
                    {{pers.quantita}} {{pers.qualita}} ({{pers.ore}})
                    </li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li *ngFor="let att of rigo.attrezzatura">
                            {{att.quantitaAtt}} {{att.nomeAtt}}  
                    </li>
                  </ul>
                </td>
                <td>
                   
                </td>
            </ng-container> 
          </tr>
          
        </tbody>
      </table>
    
    </div>
    <div class="card-footer text-muted  text-center">
        {{giorn.timestamp | date: "yyyy-MM-dd"}}
      </div>

  </div>
  </div>
</div>
<br>
</div>
</div>

  <ng-template #loading>
      <div class="d-flex justify-content-center">
    <div class="spinner-grow text-muted" style="width: 3rem; height: 3rem;"></div>
  <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;"></div>
  <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;"></div>
  <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;"></div>
  <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;"></div>
  <div class="spinner-grow text-danger" style="width: 3rem; height: 3rem;"></div>
  <div class="spinner-grow text-secondary" style="width: 3rem; height: 3rem;"></div>
  <div class="spinner-grow text-dark" style="width: 3rem; height: 3rem;"></div>
  <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;"></div></div>
  </ng-template>
  